.page__aside{
    border: 1px red solid;
    width: 120px;
    padding: 10px;
    position: relative;
    flex-shrink: 0;
}
.page__aside button{
    width: 50px;
    height: 20px;
    margin: 5px;
}
.page__aside--upper{
    display: flex;
    flex-direction: column;
}
.page__aside--down{
    position: absolute;
    bottom: 20px;
}
.page__preview, .page__edit{
    position: fixed;
    left: 40px;
    top: 20px;
}