.page{
    padding: 50px;
}
.page__aside{
    display: none;
}
.page__mode{
    display: none;
}
.page__main{
    padding: 0;
    box-shadow: none;
}
.page .add,
.page .remove{
    display: none;
}
.page__main-content-left .skills > ol > li > .add{
    display: none;
}