.page__share{
    min-width: 300px;
    background: #ddd;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
}
.page__share textarea{
    width: 100%;
    min-height: 4em;
    word-break: break-all; 
    resize: none;
}