<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./css/resume.css">
    <link rel="stylesheet" href="./css/login.css">
    <link rel="stylesheet" href="./css/signUp.css">
</head>
<body>
    <div class="page" id="app">
        <aside class="page__aside">
                <div class="page__aside--upper">
                        <button v-on:click="onClickSave">保存</button>
                        <button>分享</button>
                        <button>打印</button>
                        <button>换肤</button>
                </div>
                <div class="page__aside--down">
                        <button v-on:click="onLogout" v-show="hasLogin()">登出</button>
                </div>
        </aside>
        <main class="page__main">
            <div class="page__main__resume">
                <section class="page__main__resume__intro">
                    <h1>
                        <editable-span v-bind:value="resume.name" v-on:edit="onEdit('name', $event)"></editable-span>
                    </h1>
                    <p>
                            <editable-span v-bind:value="resume.birthday" v-on:edit="onEdit('birthday', $event)"></editable-span>
                            |
                            <editable-span v-bind:value="resume.gender" v-on:edit="onEdit('gender', $event)"></editable-span>
                            |
                            <editable-span v-bind:value="resume.email" v-on:edit="onEdit('email', $event)"></editable-span>
                    </p>
                </section>
                <section class="page__main__resume__skills">
                    <h1>技能</h1>
                    <ul>
                        <li v-for="skill,index in resume.skills">
                            <editable-span class="name" v-bind:value="skill.name" v-on:edit="onEdit(`skills[${index}].name`, $event)"></editable-span>
                            <div class="description">
                                <editable-span v-bind:value="skill.description" v-on:edit="onEdit(`skills[${index}].description`, $event)"></editable-span>
                            </div>
                            <span v-if="index>=4" v-on:click="removeSkill(index)">删除</span>
                        </li>
                        <li>
                            <span v-on:click="addSkill">添加</span>
                        </li>
                    </ul>
                </section>
                <section class="page__main__resume__projects">
                    <h1>项目经验</h1>
                    <ol>
                        <li v-for="project,index in resume.projects">
                            <h3 class="name">
                                <editable-span v-bind:value="project.name" v-on:edit="onEdit(`projects[${index}].name`, $event)"></editable-span>
                            </h3>
                            <span class="link">
                                <editable-span v-bind:value="project.link" v-on:edit="onEdit(`projects[${index}].link`, $event)"></editable-span>
                            </span>
                            <span class="keywords">
                                    <editable-span v-bind:value="project.keywords" v-on:edit="onEdit(`projects[${index}].keywords`, $event)"></editable-span>
                            </span>
                            <p class="description">
                                    <editable-span v-bind:value="project.description" v-on:edit="onEdit(`projects[${index}].description`, $event)"></editable-span>
                            </p>
                            <span v-if="index>=4" v-on:click="removeProject(index)">删除</span>
                        </li>
                        <li>
                            <span v-on:click="addProject">添加</span>
                        </li>
                    </ol>
                </section>
            </div>
        </main>
        <!-- 登录 -->
        <div class="app__login" v-show="loginVisible" v-cloak>
            <form class="app__login__form" v-on:submit.prevent="onLogin">
                <h2>登录</h2>
                <button type="button" v-on:click="loginVisible = false">关闭</button>
                <div class="row">
                    <label>用户名</label>
                    <input type="text" v-model="login.email" autocomplete="off">
                </div>
                <div class="row">
                    <label>密码</label>
                    <input type="password" v-model="login.password"  autocomplete="off">
                </div>
                <div class="actions">
                    <button type="submit">提交</button>
                    <a href="#" v-on:click="loginVisible = false; signUpVisible = true">注册</a>
                </div>
            </form>
        </div>
        <!-- 注册 -->
        <div class="app__signUp" v-show="signUpVisible" v-cloak>
            <form class="app__signUp__form" v-on:submit.prevent="onSignUp">
                <h2>注册</h2>
                <button type="button" v-on:click="signUpVisible = false">关闭</button>
                <div class="row">
                    <label>用户名</label>
                    <input type="text" v-model="signUp.email" autocomplete="off">
                </div>
                <div class="row">
                    <label>密码</label>
                    <input type="password" v-model="signUp.password" autocomplete="off">
                </div>
                <div class="actions">
                    <button type="submit">提交</button>
                    <a href="#" v-on:click="loginVisible = true; signUpVisible = false">登录</a>
                </div>
            </form>
        </div>

     </div>

    <!-- leanCloud --> 
    <script src="./vendors/av-min.js"></script>
    <!-- Vue --> 
    <script src="./vendors/vue.min.js"></script>

    <script src="./js/av.js"></script>
    <script src="./js/editable-span.js"></script>
    <script src="./js/app.js"></script>
</body>
</html>